nav {
  float: right;
}

.top-div {
  color: #ffffff;
  background: url('../images/image_3@2x.png');
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;

}

.navbar-el{
  font-family: "Playfair Display";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #ffffff;
}

.clear-float {
  clear: both;
}
